:host {
  display: block;
  height: 100%;
}

.page-bg {
  background-image: url('/assets/FONDO.png');
  background-size: 500px;
  background-repeat: repeat;
  background-position: top left;
}

.container-formulario {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
